# Ignore Python virtual environment
.venv/
logsnubank
# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
alexandriaLogs/
# Ignore Python environment files
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Ignore build and distribution
*.egg-info/
dist/
build/

# Ignore IDE files
.vscode/
.idea/

# Ignore logs (if any)
*.log
logs/

# Ignore environment variables
.env
.env.local
*.env.*
.envrc
.venvrc
*csv
*.txt
uv.lock
logs_analyzer.egg-info
