.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
alexandriaLogs/
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/
.vscode/
.idea/
*.log
logs/
.env
.env.local
*.env.*
.envrc
.venvrc
*csv
*.txt
uv.lock
logs_analyzer.egg-info
